/* Body */

body {
	margin:0;
	padding:0;
	font-family:arial;
	background:white url(/images/wood_background_optimized.jpg) repeat fixed; 
	text-align:center;}

#container{
        background-color:#FFFFFF;
        width:980px;
        margin:  0 auto;}

#page {
	margin:  0 auto;
        margin-top: 8px;
	padding: 0;
	width:100%;
        min-height:800px;
        border: 1px solid;
        border-bottom:none;
        background-color:#FFFFFF;}

h2{
margin-top:5px;
margin-bottom:5px;
font-family: Arial, Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;
font-size:2em;
/*color:#993300;*/
}

#tag_section h2 {
font-family:arial;
font-size:2em;
}

.article_preview_title h3{
margin-top:5px;
margin-bottom:5px;
/*font-family: Arial, Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;*/
font-size:2em;}

h3 a {
text-decoration:none;
}

/* Header */

#header {
	width:100%;
        margin:0 auto 0 auto;
	margin-bottom:0px;
        margin-top:0px;
        text-align:center;}

#logo {
        width:700px;
        /* height:150px; */
        float:left;}

#top_head {
      width:100%;
      /* height: 150px; */
      }

#bottom_header {
       width:100%;
       height:30px;
       margin-bottom:20px;
       }

#menu {
        width:625px;
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.4em;
        height:30px;
        float:left;}

#menu a {
	color:#000;
	text-decoration:none;
        padding:10px;
	font-weight:bold;}
	
#menu a:hover  {
	text-decoration:underline;
        }

#menu a.selected {
text-decoration:underline;
}

#subscribe_bar{
background-color:white;
float:right;
height:30px;
width:350px;
vertical-align:middle;
}

/* Search widget */

#search {
        float:right;
        width:240px;
        overflow:hidden;
        overflow-x:hidden;
        overflow-y:hidden;
        margin-top:40px;}

/* widget */

.widget {
border:2px solid gray;
margin-top:15px;
background-color: #C7D5E5;
}

#widget_featured_articles a:hover{
border: 1px solid black; 
}

.widget_article_preview h3{
font-size:1em;
float:right;
width:100px;
border:1px solid grey;
background-color:white;}

.widget_article_preview  {
text-decoration:none;
color:black;
display:block;
height:100px;
border:1px solid grey;
background-color:white;
margin:3px;
padding:5px;}

.widget_article_title{
color:grey;
}

#widget_section_articles {
}

#widget_section_articles a:hover{
border: 1px solid black; 
}

.widget_section_article_preview {
text-decoration:none;
color:black;
height:225px;
width:190px;
border:1px solid grey;
background-color:white;
margin:3px;
padding:5px;
float:left;}

#widget_section_articles img {
width:180px;
height:150px;}

/* Content */

#content {
	width:100%;
	margin:0px;
	text-align:left;
       	height:auto !important; /*ie6 min-height fix */  
        min-height:750px;  
        height:750px; 
        float:left;
        /* background-color:#F5F5F5;  */
        }

#mainbar {
        float:left;
        width:630px;
        background-color:white;
        /* border:1px solid #C5C5C5; */
        margin-left:2px;
        padding-left:20px;}

#sidebar {
       float: right;
       width: 310px;
       margin-left:8px;
       margin-right:8px;}

#sidebar h4 {
text-align:center;
color:grey;
}


/* Section */

.tag_section {
font-size:2.2em;
margin-bottom:20px;
margin-top:20px;}

div.article_preview {
    clear: both;
    margin-top:0px;
    height:auto !important; /*ie6 min-height fix */  
    min-height:300px;  
    height:300px; 
    margin:2px;
    border:1px solid gray;
}     

img.article_section {
       float:left;
       width: 100px;
       height: 100px;
       border:none;}

/* Article */

#article_header {
border-bottom:1px dotted gray;
padding-bottom:10px;
margin-bottom:10px;
}

#article_header_inner{
float:left;
}

.meta {
list-style-type:none;
}

#meta{
margin-top: 10px;
margin-bottom:10px;
border-top:3px double gray;
}

#meta_inner {
width:400px;
float:right;}

#tweetmeme_button {
float:right;
width:100px;
padding-top:50px;
}

/* Comments */
#comment_form{
	width:600px;
}

/* Footer */

#footer {
	width:100%;
        padding-top:0px;
	border: 1px solid black;
        border-top:none;
        color:black;
        text-align:right;
        font-size:10px;}

#bottom_nav{
       width:550px;
       float:left;
       padding:5px;}

.bottom_links{
        padding:5px;
        color:black;
        }

#copyright {
        padding:5px;
        font-size:10px;
        }

#footer a {
	text-decoration:none;
        padding:5px;
        color:grey;
}

#footer a:hover {
	color:red;}

/* Miscellaneous */

.clear {
  clear: both; }

.bordernone{
border:none;
}

.ad {
        margin: 5px;
        /*border:1px solid grey;        
        padding:7px; */}

/* Scroll bar- Page shift fix*/

html {
  min-height: 100%;
  margin-bottom: 1px;}

/* Facebook */

html .fb_share_link { 
padding:2px 0 0 20px; 
height:16px; 
background:url(http://static.ak.fbcdn.net/rsrc.php/z39E0/hash/ya8q506x.gif) no-repeat top left; 
}