<div id="bottom_nav">
<a href="/">Home</a><!--<a href="/about/">Company Info</a>--><a href="/archives/">Past Articles</a><a href="/newsletter/">Email Updates</a>
<a href="/privacy-policy/">Privacy Policy</a><a href="/sitemap/">Sitemap</a></div><!--bottom nav-->