<div id="top_head">
<div id="logo"><a href="/"><img src="/images/header20090816.gif" alt="Boulder Analytics site header" class="bordernone" /></a></div>
{% include 'searchwidget' %}
</div><!--top head-->