<div id="search">
  <form action="/search" id="sform" method="get" name="sform">
  <input type="text" id="q" name="q" value="" size="12"/>
  <input type="submit" value="Search" /></form>
</div><!--search-->