<div id ="subscribe_bar" >

Follow
<a href="http://feedburner.google.com/fb/a/mailverify?uri=BoulderAnalytics&amp;loc=en_US" onclick="pageTracker._trackEvent('Audience Development', 'Signups', 'Email Updates');"><img src="/images/email_subscribe.jpg" alt ="Subscribe to our Email Newsletter" class="bordernone"/></a>	

<!--<a href="/newsletter" onclick="pageTracker._trackEvent('Audience Development', 'Signups', 'Email Updates');"><img src="/images/email_subscribe.jpg" alt ="Subscribe to our Email Newsletter" class="bordernone"/></a>-->	

<a href="http://www.facebook.com/pages/Boulder-Analytics/251549555444" onclick="pageTracker._trackEvent('Audience Development', 'Signups', 'Facebook Fan');"><img src="/images/facebook-icon.jpg" alt ="Follow our Facebook page" class="bordernone"/></a>

<a href="http://twitter.com/getanalytics" onclick="pageTracker._trackEvent('Audience Development', 'Signups', 'Twitter');"><img src="/images/twitter-icon.jpg" alt ="Subscribe to our Twitter Feed" class="bordernone"/></a>

<a href="http://feeds.feedburner.com/boulderanalytics" onclick="pageTracker._trackEvent('Audience Development', 'Signups', 'RSS Feed');"><img src="/images/feed-icon-28x28.png" alt ="Subscribe to our RSS" class="bordernone"/></a>

</div><!--subscribe bar-->