<div id ="tweetmeme_button">
<script type="text/javascript">
tweetmeme_source = 'getanalytics';
tweetmeme_style = 'compact';
</script>

<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>

</div>