<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
</head>
<body>
	<span>Test</span>
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
	<fb:login-button></fb:login-button>
	<fb:name uid="2901279" ></fb:name>
	<fb:profile-pic uid="2901279" facebook-logo="true" size="thumb" ></fb:profile-pic>
	<script type="text/javascript">
		FB.init("a993b3c318314ae985788373988c52aa", "/connect/xd_receiver.htm");
	</script>
</body>
</html>


<%= yield %>