<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<%= javascript_include_tag 'mephisto/prototype.js' %>
</head>
<body>
	<span>Test</span>
	
		<script type="text/javascript">

		</script>


	<fb:login-button></fb:login-button>
	<%= content_tag 'div','', { :id => 'fbname', :uid => '', :useyou => 'false' } %>
    <%= content_tag 'div', '', { :id => 'fbprofile', :uid => '', 'facebook-logo' => 'true', :size => :thumb } %>
<a href="#" onclick="FB.Connect.logout(function() { FB.XFBML.Host.parseDomTree(); }); return false;" ><img id="fb_logout_image" src="http://static.ak.fbcdn.net/images/fbconnect/logout-buttons/logout_small.gif" alt="Connect"/></a>
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
	<script type="text/javascript">
			FB_RequireFeatures(["Connect"], function(){ 
		// Create an ApiClient object, passing app's API key and 
		// a site relative URL to xd_receiver.htm 
		FB.init("a993b3c318314ae985788373988c52aa", "/connect/xd_receiver.htm");
		
		var api = FB.Facebook.apiClient; 
		FB.Connect.requireSession();
		if(api.get_session() != null) {
			FB.XFBML.Host.autoParseDomTree = false;
			var uid = api.get_session().uid;
			$('fbname').writeAttribute('uid', uid);
			$('fbprofile').writeAttribute('uid', uid);
			var fbname = new FB.XFBML.Name($('fbname'));
			var profilePic = new FB.XFBML.ProfilePic($('fbprofile'));
			FB.XFBML.Host.addElement(fbname);
			FB.XFBML.Host.addElement(profilePic);
			FB.XFBML.Host.parseDomTree();
		} else {
			alert('user is NOT logged in');
		}
		
		

	});
	</script>
	
</body>
</html>


<%= yield %>
